.new
  = render "header2"
  .new__mask
    .new__mask__main
      = render "sideber"
      .new__mask__main__showright
        .new__mask__main__showright__title
          〇〇さんのマイページ
        .new__mask__main__showright__title__panel-default
          .new__mask__main__showright__title__panel-default__panel-heading
            最近見た商品
          .new__mask__main__showright__title__items
            .new__mask__main__showright__title__items__item
              .new__mask__main__showright__title__items__image
                写真
              .new__mask__main__showright__title__items__name
                商品名
              .new__mask__main__showright__title__items__price
                〇〇円
            .new__mask__main__showright__title__items__item
              .new__mask__main__showright__title__items__image
                写真
              .new__mask__main__showright__title__items__name
                商品名
              .new__mask__main__showright__title__items__price
                〇〇円
  .index__footer 
    = render "footer2"