.notification {
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
  }
}

  .flash__alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
  }
