.index__main{
    background: #f8f8f8;
    &__categories{
      width: 100%;
      border-top: 1px solid #eee;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      position: relative;
      padding: 0 60px;
      height: 55px;
      line-height: 55px;
      display: flex;
    }
    &__item{
      &__content{
        padding: 40px;
        margin: 0 auto;
        &__top{
          background-color: #fff;
          padding: 24px 40px 40px;
          &__h2{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin: 16px 0 0;
            &__ul{
              display: flex;
              position: relative;
              list-style: none;
              &__li{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                &__image{
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
              }
              &__ul{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                &__li1{
                  width: 100%;
                  margin: 0 10px 0 0;
                  &__image{
                    object-fit: cover;
                    height: 87px;
                    width: 140px;
                    vertical-align: bottom;
                    &__dummy{
                      object-fit: cover;
                      height: 87px;
                      width: 140px;
                      vertical-align: bottom;
                    }
                  }
                }          
              }
            }
          }
        }
        &__price{
          margin: 0 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          &__en{
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &__detail{
            &__tax{
              font-size: 16px;
            }
            &__deliver{
              font-size: 16px;
            }
          }
        }
        &__detail{
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table{
          margin-bottom:20px;
          &__table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            &__tbody{
              display: table-row-group;
              vertical-align: middle;
              border-color: rgb(66, 65, 65);
               border-top-color: rgb(66, 65, 65);
               border-right-color: rgb(66, 65, 65);
               border-bottom-color: rgb(66, 65, 65);
               border-left-color: rgb(66, 65, 65);
              &__tr{
                display: table-row;
                vertical-align: rgb(66, 65, 65);
                border-color: rgb(66, 65, 65);
                &__th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                &__td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px
                }
              }
            }
          }
        }
        &__option{
          display: flex;
          justify-content: space-between;
          &__ul{
            margin: 10px 0 0;
            display: flex;
            &__li{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
            }
          }
          &__ul2{
            margin: 10px 0 0;
            display: flex;
            &__li{
              font-size: 14px;
              &__a{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
            }
          }
        }
        &__commentarea{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          &__form{
            &__textarea{
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            &__submit__link-Purchase {
              text-align: center;
            }
            &__p{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            &__submit{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
          
            }
          }
        }
        &__ul{
          &__li{
            float: left;
            &__a{
              text-decoration: none;
              color: #3CCACE;
            }
          }
          &__li2{
            float:right;
            &__a{
              text-decoration: none;
              color: #3CCACE;
            }
          }
        }
        &__relateditem{
          &__a{
            display: block;
            margin: 24px 0 8px;
            color: #3CCACE;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
          }
          &__inner{
            color: #fff;
            text-align: center;
            &__title{
              text-shadow: 0 0 5px rgba(0,0,0,0.4);
              font-size: 24px;
              font-weight: bold;
              line-height: 1.4;
            }        
            &_text{
              font-size: 35px;
              text-shadow: 0 0 5px rgba(0,0,0,0.4);
            }
            &__icon{
              width: 100%;
              display: flex;
              justify-content: center;
              margin: 20px auto 0;
              &__a{
                margin-right:10px;
              }          
            }
          }
        }
        &__option{
          text-decoration: none;
          color: #3CCACE;
        }
        &__delete{
          text-decoration: none;
          color: #3CCACE;
          &__word{
            text-align: right;
          }
        }
      }
    }
}

.index__showbarnner{
    background-image: image-url('bg-appBanner-pict.jpg');
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    &__inner{
      color: #fff;
      text-align: center;
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        &__a{
          margin-right: 10px;
          &__image{
            width:180px;
            vertical-align: bottom;
            margin-top: 15px;
          }
        }
        &__a2{
          &__image{
            width:200px;
            height: 90px;
            vertical-align: bottom;
          }
        }
      }
    }
}

.index__main__item__content__table__table__tbody__tr__td__a{
          text-decoration: none;
          color: #3CCACE;
  }

.index__main__item__content__table__table__tbody__tr__td__b{
        text-decoration: none;
        color: #3CCACE;
        padding-right: 12px;
}

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.footer__btn {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 32px;
}
ul {
  list-style: none;
}

.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .footer__btn {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
  }
  ul {
    list-style: none;
  }
  .main-Purchase-btn {
    line-height: 48px;
    background: red;
    border: 1px solid #3CCACE;
    color: #fff;
    padding: 10px 100px;
    font-size: 18px;
    border-radius: 100px;
    margin-top: 20px;
    text-decoration: none;
  }

  .items-box_photo__sold2{
    width: 0;
    height: 0;
    border-top: 60px solid #ea352d ;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #ea352d ;
    position: relative;
    top:-350px;
    margin-right: 450px;
    &__inner{
      position: absolute;
      transform: rotate(-45deg);
      font-size: 30px;
      margin:-35px 0px 0px -55px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
      z-index: 1;
    }
  }