.new__mask__main__showright{
  width: 59vw;
  padding-left: 40px;
  &__title {
    margin: 16px 0;
    padding: 0 8px 8px;
    font-size: 18px;
    font-weight: bold;
    &__panel-default {
      border: 1px solid #e5e5e5;
      &__panel-heading {
      color: #757575;
      background-color: #f5f5f5;
      border-color: #e5e5e5;
      padding: 10px 15px;
      border: 1px solid #e5e5e5;
      }
    }
    &__items {
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.05);
      padding: 15px;
      display: flex;
      &__item {
        border-color: #e5e5e5;
        margin: 0 20px 24px;
      }
    }
  }
}

